<h1>Create Manga</h1>
<div class="col-md-8 col-md-offset-2">
  <input [(ngModel)]="inputText" (ngModelChange)="onInputChange()" placeholder="Digite algo" />
  <select class="form-select" [(ngModel)]="selectedItem" (change)="onSelectionChange($event.target.value)">
    <option *ngFor="let item of apiData;let i = index" [value]="i">{{ item.title }}</option>
  </select>

  <div *ngIf="apiData && apiData.length > 0; else Loading">
    <div>
      <label>Title:</label>
      <label>{{apiData[selectedItem].title}}</label>
    </div>
    <div>
      <label>Title Japanese:</label>
      <label>{{apiData[selectedItem].title_japanese}}</label>
    </div>
    <div>
      <label>Synopsis:</label>
      <label>{{apiData[selectedItem].synopsis}}</label>
    </div>
    <div>
      <label>Resume About:</label>
      <label>{{apiData[selectedItem].background}}</label>
    </div>
    <div>
      <label>chapters:</label>
      <label>{{apiData[selectedItem].chapters}}</label>
    </div>
    <div>
      <label>volumes:</label>
      <label>{{apiData[selectedItem].volumes}}</label>
    </div>
    <div>
      <label>status:</label>
      <label>{{apiData[selectedItem].status}}</label>
    </div>
    <div>
      <label>score:</label>
      <label>{{apiData[selectedItem].score}}</label>
    </div>
    <div>
      <label>published:</label>
      <label>{{apiData[selectedItem].published.string}}</label>
    </div>
    <div>
      <label>authors:</label>
      <ul>
        <li *ngFor="let author of apiData[selectedItem].authors">
          {{ author.name }}
        </li>
      </ul>
      <button (click)='toCreateAuthors()' class="btn btn-primary" type="submit" [disabled]="!apiData[selectedItem]">Criar</button>
    </div>
    <div>
      <label>genres:</label>
      <ul>
        <li *ngFor="let genres of apiData[selectedItem].genres">
          {{ genres.name }}
        </li>
      </ul>
    </div>
    <div>
      <img src="{{apiData[selectedItem].images.jpg.image_url}}" alt="Minha Imagem">
    </div>

    <button (click)='toCreate()' class="btn btn-primary" type="submit" [disabled]="!apiData[selectedItem]">Criar</button>
  </div>
  <div *Loading>
    Carregando...
  </div>

  <!--<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" formControlName="nameTS">
            <input [(ngModel)]="inputText" (ngModelChange)="onInputChange()" placeholder="Digite algo">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Logar</button>
    </form>-->
</div>