<header>
    <div class="container">
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/882712138035113994/1107463315833225317/ZeDaManga.png"
                alt="Logo">
        </div>
        <nav>
            <ul>
                <li routerLinkActive="active"><a [routerLink]="['/manga']">Manga</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/autenticacao']">Autenticação</a></li>
            </ul>
        </nav>
    </div>
</header>