header {
    background-color: #333;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
}

.logo img {
    height: 50px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #f1f1f1;
}

nav a:hover {
    color: #fff;
}